.masthead {
    background-image: url('./open.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.login-form {
    height: 45% !important;
    width: 35% !important;
}
.mobile-form {
    height: 65% !important;
    width: 55% !important;
}
.cont-pad {
    margin-top: 50px !important;
}
